[submodule "calamares-core"]
	path = calamares-core
	url = https://gitlab.com/rebornos-labs/installer-and-iso/calamares/calamares-core.git
	branch = .
[submodule "calamares-configuration"]
	path = calamares-configuration
	url = https://gitlab.com/rebornos-labs/installer-and-iso/calamares/calamares-configuration.git
	branch = .
[submodule "calamares-branding"]
	path = calamares-branding
	url = https://gitlab.com/rebornos-labs/installer-and-iso/calamares/calamares-branding.git
	branch = .

